<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MySuite" verbose="1">

    <test name="NewProject">
        <classes>
             <class name="org.automation.dropdownpagetest.DropDownPageTest">
                <methods>
                    <include name="verifyDropdownPage" />

                </methods>
            </class>

            <class name="org.automation.elementdisplayedpagetest.ElementDisplayedPageTest">
                <methods>
                    <include name="verifyElementDisplayedPage" />
<!--                    <exclude name="testInvalidLogin" />-->
                </methods>
            </class>
        </classes>

    </test>

</suite>
